[run]
include =
    hooks
    tests
    setup.py
    tasks.py
omit =
    .tox/**/*
    tests
    tasks.py
    setup.py
    {{cookiecutter.project_slug}}/.dockerignore
    {{cookiecutter.project_slug}}/.gitattributes
    {{cookiecutter.project_slug}}/.gitignore
    {{cookiecutter.project_slug}}/Dockerfile
    {{cookiecutter.project_slug}}/LICENSE
    {{cookiecutter.project_slug}}/tasks.py

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
