[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# Testing
tox = "*"
pytest = "<6.0.0"
pytest-cov = "*"
pytest-cookies = "*"
pytest-xdist = "<=1.34.0"
pytest-sugar = "*"
# Coverage
coverage = "*"
codecov = "*"
# Tools
"ruamel.yaml" = "*"
invoke = "*"
pre-commit = "*"
bump2version = "*"
cookiecutter = "*"
pylint = "*"

[packages]
